* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* --- Contenido General de la Página--- */
html{
  height: 100%;
}

body {
  background-color: rgb(254, 240, 212);
  text-align: center;
  font-family: "Poiret One";
  font-size: 21px;
  min-height: 100%;
}

.contenidos {
  margin-top: 6rem;
}

h1 {
  font-size: 50px;
  margin: 0 auto;
}

h2{
  font-size: 22px;
}

p {
  margin: 20px 0px;
}


/* ---Menu de Navegación ---*/
header{
  background-color: rgb(238, 139, 144);        
  min-height: 100px;
  width: 100%;
  padding: 0px 5% 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 160px;
  padding-bottom: 8px;
}
.logo:hover{
  animation: jello-vertical 0.9s both;
}
@keyframes jello-vertical {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.carrito2{
  display: none;
}
nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__lista {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap:16px;
  margin-bottom: 0;
  padding-left: 0;
}

.iconomenu{
  display: none;
}

#check{
  display: none;
}
.carrito{
  margin-top: 9px;
}
.carrito:hover{
  display: inline-block;
  animation: bounce; 
  animation-duration: 1s; 
}

li {
  list-style-type: none;
}

a {
  color: rgb(247, 235, 207);
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  color: rgb(126, 11, 11);
}
.boton--color{
  background-color:rgb(185, 73, 73);   
  padding: 9px 6px;
  border-radius: 15px;
}

.boton--color:hover{
  color:#fff;
  background-color:rgb(174, 31, 31);     
  border-radius: 15px;

}
/* .div-menu{
  display: none;
} */


/* --- Entrada --- */
.presentacion {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.presentacion__titulo{
  font-size: 80px;
  padding-bottom: 30px;
}
.presentacion__div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 8%;
  min-width: 320px;
}

.presentacion__texto { 
  text-align: center;
  width: 50%;
  margin: 0 5%;
}
.presentacion__imagen--div{
  overflow: hidden;
  border-radius: 40px;
  height: 380px;
  width: 300px;
}
.presentacion__imagen {
  height: 380px;
  width: 300px;
  border-radius: 20px;
  transition: transform 0.3s ease;
}
.presentacion__imagen:hover{
  transform: scale(1.05);
}

/* --- Barra Info --- */
.barraInfo {
  background-color: rgb(252, 243, 233);
  font-size: 26px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20%;
}
.barraInfo ul{
  padding: 40px;
}
.barraInfo__p{
  font-size: 18px;
  color: rgb(92, 92, 92);
  line-height: 0;
}
.barraInfo__cont{
  display: flex;
  align-items: center;
}

.icono{
  padding-right:  6px;
  font-size: 26px;
  text-align: center;
}


/* --- Sección de Productos --- */
.producto__contenedor{
  margin: 60px 0;
  padding: 20px 10%;
  min-width: 320px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 20px;
}

.producto {
  background-color: #fff;
  text-align: center;
  width: 300px;
  padding: 20px 10px;
  border-radius: 30px;
  margin: 20px auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}
.producto__imagen {
  width: 90%;
  transition: transform 0.3 ease;
}
.producto:hover{
  transform: scale(1.05);
}
.producto__titulo {
  font-size: 29px;
}
.producto__descripcion {
  font-size: 19px;
}
.producto__boton{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.boton  {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  background-color: #f1737b;         
  padding: 8px 10px;  
  border-radius: 17px;  
  border-style: none;
}
.boton:hover {
  background-color: rgb(236, 47, 97);
  color: #fff;
}

.boton_vermas {     
  background-color: rgb(166, 249, 131);
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  background-color: rgb(106, 202, 42);         
  padding: 8px 20px;       
  border-radius: 20px;         
  border-style: none;
}
.boton_vermas:hover {
  background-color: rgb(67, 153, 10);  
  color: #fff;
}

/* --- Perfil--- */
.linea{
  height: 1px;
  background-color: #f1737b54;
  display: block;
  width: 80%;
  margin-top: 120px;
  margin-left: 10%;
}
.perfil{
  margin: 0 auto;
  padding: 60px 100px 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.perfil__texto{
  min-width: 400px;
  text-align: center;
  margin: 5%;
  display: flex;
  align-items: center;
}
.perfil__imagen{
  min-width: 270px;
  height: 270px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 10%;
}


/* --- Pie de Página --- */
h3{
  font-size: 30px;
  margin-bottom: 15px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.341);
}
footer {
  background-color: rgb(238, 143, 143);  
  margin-top: auto;
  color: rgb(247, 235, 207);
  width: 100%;
}
.piePag{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.piePag__redes--img{
  width: 38px;
  height: auto;
}

.piePag__pagos__cont{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(40px, 1fr));
  gap: 4px;
}

.piePag__pagos img{
  width: 40px;
  height: 24px;
}

.piePag__contacto--texto{
  font-size: 21px;
  font-weight: bold;
  line-height: 37px;
  text-align: center;
}
.piePag__copy{
  font-size: 16px;
  background-color: rgb(175, 12, 61);      
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* -----------  Productos.HTML  ----------  */
.contenido{
  margin-top: 100px;
}


/* -----------  Contacto.HTML  ----------- */
.titulo{
  margin-top: 9rem;
}
.contacto{
  height: 90vh;
  margin: 2%;
}
label{
  text-align: start;
  margin: 10px;
}
form{
  background-color: #fff;
  max-width: 700px;
  height: 450px;
  margin: 3% auto;
  padding:10px 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}
.campo{
  padding: 10px;
  border-radius: 10px;
  border:1px solid #ccc;
  font-family: "Poiret One";
  font-size: 16px;
}

.campo:focus {
  border-color: rgb(232, 30, 91);
  outline: none;
}

.contacto__boton{
  height: 45px;
  margin: 10px;
  font-size: 20px;
  font-family: "Poiret One";
}

.ubicacion__mapa{
  width: 60%;
  max-height: 450px;
  margin: 30px;
  border-radius:30px;
}



/* --------  Preguntas.HTML  -------- */

.preguntas{
  margin: 40px 8% 9%;
}
.preguntas__lista{
  text-align: start;
}
.preguntas__link{
  color: rgb(181, 5, 58);
}

.accordion-button{
  background-color: rgb(254, 240, 212);
  font-size: 22px;
}
.accordion-button:focus {
  border-color:none;
  box-shadow:none;
}
.accordion-flush .accordion-item .accordion-button {
  border-radius:20px;}

.accordion-button:not(.collapsed){
  background-color: #f68a918b;
  color: #fff;
  padding: 9px 2%;
}


/* -------  Iniciar Sesión.HTML  -------- */
.sesion{
  height: 80vh;
  padding-top: 20px;
}
.sesion__titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
.sesion__titulo--img{
  width: 80px;
}
.sesion__titulo h2{
  padding-top: 20px;
}
.sesion__from{
  max-width: 500px;
  max-height: 480px;
  border-radius: 50px;
  padding-top: 10px;
  margin: 20px auto;
}
.sesion__campo{
  border: 1px solid #ccc;;
  border-radius: 50px;
  padding: 17px;
  margin: 10px ;
  font-family: "Poiret One";
  font-size: 20px;
}
.boton--sesion{
  background-color: rgb(250, 0, 75);
  color: blanchedalmond;
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
}
.boton--sesion:hover{
  background-color: rgb(225, 0, 45);
}
.sesion__link{
  color: rgb(240, 33, 112);
  font-size: 17px;
  padding: 10px 0 0 0;
  display: flex;
  flex-direction: column;
}
.sesion__link:hover{
  color:rgb(225, 0, 45);
}
aside{
  margin: 80px auto;
  padding-bottom: 30px;
}
.app{
  max-width: 250px;
}

/* ---  carrusel  --- */
.carousel{
  display: none;
}


/*--------------------    Media Queries   -------------------- */

@media screen and (max-width: 768px) {
/* ----  menu de navegacion  ---- */
header{
  position: relative;
  position: fixed;
  top: 0;
  z-index: 10;
}
.logo{
  justify-content: center;
  margin: 0;
  width: 160px;
}
.iconomenu{
  display: flex;
  font-size: 35px;
  margin-top: 6px;
  color: #fff;
  cursor: pointer;
}
.carrito{
  display: none;
}
.carrito2{
  display: block;
}
.carrito2:hover{
  color: rgb(126, 11, 11);
}
nav{
  position: relative;
}
.menu__lista{
  position: absolute;
  right: 20px;
  background-color: rgba(64, 9, 9, 0.844);
  width: 100%;
  margin-top: 581px;
  padding: 16px;
  flex-direction: column;
  gap: 29px;
  align-items: center;
  margin-right: 120%;
}
.menu__lista li{
  border-top: 1px solid rgba(255, 255, 255, 0.189);
  width: 100%;
  padding-top: 22px;
}
#check{
  display: none;
}
#check:checked ~ .menu__lista {      
  margin-right: 10%;
}
.producto:hover{
  transform: none;
}

/* ---- entrada --- */
.presentacion__div{
  flex-direction: column-reverse;
}
.presentacion__texto{
  width: 100%;
  padding: 0px 0px;
}
/* ---- perfil ---- */
.perfil{
  flex-direction: column;
  width: 100%;
  padding: 10%;
}
.perfil__texto{
  min-width: 240px;
}
.perfil__imagen{
  margin: auto;
}
/*---- pie de pagina ---- */
.piePag{
  gap: 40px;
}


/* ----------  Contacto.HTML  -------- */
form{
padding: 5%;
}
.ubicacion{
margin-top: 4%;
}
.ubicacion__mapa{
  width: 80%;
}

/* ----------  Iniciar Sesión.HTML  -------- */
.sesion{
  margin: 0 4%;
}
.sesion__from{
  padding: 2%;
}

}


/*-----------------    Media Queries Movil  ----------------- */

@media screen and (max-width: 425px) {

  /* -------carruse------- */
  .carousel{
    display: block;
    margin: 18% auto;
    }
    
  .flecha{
    border-radius: 10px;
    padding:1.5rem;
    
    }
  .flecha:active{
    background-color: rgba(74, 74, 74, 0.701);
    border-radius: 50%;
    padding: 20px;
  }
  
  .producto-div{
    display: none;
  }
  
  }