/* --- Entrada --- */
.presentacion {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__titulo {
        font-size: 80px;
        padding-bottom: 30px;
    }
    &__div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 20px 8%;
        min-width: 320px;
    }

    &__texto {
        text-align: center;
        width: 50%;
        margin: 0 5%;
    }
    &__imagen--div {
        overflow: hidden;
        border-radius: 40px;
        height: 380px;
        width: 300px;
    }
    &__imagen {
        height: 380px;
        width: 300px;
        border-radius: 20px;
        transition: transform 0.3s ease;
    }
    &__imagen:hover {
        transform: scale(1.05);
    }
}

/* --- Perfil--- */
.linea {
    height: 1px;
    background-color: #f1737b54;
    display: block;
    width: 80%;
    margin-top: 120px;
    margin-left: 10%;
}
.perfil {
    margin: 0 auto;
    padding: 60px 100px 100px;
    @include content(center);
    flex-wrap: nowrap;
    &__texto {
        min-width: 400px;
        text-align: center;
        margin: 5%;
        display: flex;
        align-items: center;
    }
    &__imagen {
        min-width: 270px;
        height: 270px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 10%;
    }
}

@media screen and (max-width: 768px) {
    /* ---- entrada --- */
    .presentacion {
        &__div {
            flex-direction: column-reverse;
        }

        &__texto {
            width: 100%;
            padding: 0px 0px;
        }
    }

    .div-menu {
        @extend .barra-movil;
    }

    /* ---- perfil ---- */
    .perfil {
        flex-direction: column;
        width: 100%;
        padding: 10%;

        &__texto {
            min-width: 240px;
        }
        &__imagen {
            margin: auto;
        }
    }
}
