$bg-fondo: rgb(254, 240, 212);
$bg-menu: rgb(238, 139, 144);

$color-link: rgb(126, 11, 11);
$color-a: rgb(247, 235, 207);
$color-a-hover: #fff;

$color-boton: rgb(185, 73, 73);
$color-boton-hover: rgb(174, 31, 31);
$color-boton-sesion: rgb(250, 0, 75);
$color-copy: rgb(175, 12, 61);
$color-boton-vermas: rgb(106, 202, 42);
$color-boton-vermas-hover: rgb(67, 153, 10);
$color-boton-comprar: #f1737b;
$color-boton-comprar-hover: rgb(236, 47, 97);

$font-tituloProduct: 29px;
$font-large: $font-tituloProduct + 2px;
$textshadow: 1px 1px rgba(0, 0, 0, 0.341);
